.nav{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #287bff;
}
.panel ul li:nth-child(1){
    margin-bottom: 40px;
    margin-top: 60px;
    pointer-events: none;
    background-color: #fff;
    color: #287bff;
    text-align: center;
}
.panel ul li a{
    color: #fff;
}
.panel ul li:hover a{
    color: black;
}
.nav-item{
    display: flex;
    text-align: center; 
    align-items: center;
    padding: 5px; 
    margin-left: 80px;
}
.icon{
    color: #fff;
    margin-right: 12px;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    padding: 20px 50px 20px 50px; 
    background-color: rgba(0, 0, 0, 0.097);
    height: 100%;
}
.cardbox{
    position: relative;
    width: 100%;
    padding: 100px 10px 100px 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cardbox .card{
    position: relative;
    border: none;
    color: #fff;
    box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.3);
    
}
.card-title{
    padding: 7px;
    
}
.card-icons{
    display: flex;
    float: right;
    position: relative;
    top: -60px;
    
  
}
.card-icons i{
    font-size: 50px;
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}
.placeholder1{
    position: fixed;
    width: 40%;
    top: 200px;
    padding: 100px 10px 100px 350px;
    
}

.card-img-overlay{
    top: 150px;
    background-color: rgba(0, 0, 0, 0.571);
}
.placeholder2{
    position: fixed;
    width: 65%;
    top: 20%;
    padding: 200px 0px 100px 650px;
}